*{
    margin: 0px;
    padding: 0px;
}
.wrapper, .container, .main{
    background-color: transparent;
}
body{
    background-image: url(ba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.container-fluid{
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.nav{
    width: 100%;
    height: 40px;
    color: black;background-color: #FFFF00;
    display: flex;
   
    
 
}
.nav-icon{
    display: flex;
    margin-left: 10px;
}
.nav h6{
    width: 42%;
    height: 40px;
    border-right: 2px solid white;
    align-items: center;
    justify-content: center;
    margin-left: 50px;


}
.nav-icon i{
    margin: 10px;
     justify-content: center;
    margin-top: 10px;
}
.nav-icon p{
    margin: 6px;
}
/* nav complite */
.nav-logo{

    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;

}
.nav-image{
    width: 200px;
    height: 60px;
}
.nav-image img{
    width: 200px;
    height: 60px;
}
.nav-text{
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10p;

}
.nav-text li{
    list-style-type: none;
    margin-left: 50px;
}
.nav-text li a{
    text-decoration: none;
    color: black;
}
.nav-button{
width: 200px;
height: 60px;
align-items: center;
justify-content: center;
}
.nav-button button{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    background-color:rgb(0,0,225);
    margin-top: 10px;
    color: white;
    border: none;border-radius:30px;
    
}
.croucel{
    width: 100%;
    height: 350px;
    display: flex;
    border: 1px solid black;
    background-color: #fff;
}
.croucel-1{
    margin-top: 10px;
    width: 75%;
    height: 310px;
}
.croucel-2{
    justify-content: center;
}
.notification-box{
    width: 280px;
    margin: 10px;
    height: 310px;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
    max-height: 260px;
    overflow-y:auto ;
    scroll-behavior: smooth;
}
.notification-box::-webkit-scrollbar{
    width: 6px;
}
.notification-box::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 10px;
}
.notification-box::-webkit-scrollbar-thumb{
    background:#c7c7c7;
}
.notification-box::-webkit-scrollbar-thumb:hover{
    background: #dc1010;
}
.note-item{
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid black;
}
.note-item .icon{
    margin-right: 10px;
    font-size: 12px;
}
.note-item .text{
    flex: 1;
    font-size: 12px;
}
.badge{
    background-color: #ffdd00;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 8px;
    font-weight: bold;
    color: red;
}
/* crocel end */
.box{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    display: flex;

}
.box-A{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;

}
.box-B{
    width: 40%;
}
.box-A1{
    width: 250px;
    height: 600px;
    padding: 20px;
}
.box-A2{
    width: 250px;
    height: 500px;
    padding: 10px;
 
      
}
.box-size{
    width: 200px;
    height: 200px;
    border: 1px solid black;

}
#a1{
    margin-top:10px;
    background-color: rgb(223, 208, 208);
}
#a2{
margin-top :40px;
background-color: #FFFF00;
}
#a3{
    margin-top: 60px;
    background-color: #FFFF00;
    margin-left: -15px;
}
#a4{
        margin-top: 40px;
        margin-left: -15px;
         background-color: rgb(223, 208, 208);

}
#a1:hover{
    background-color:#FFFF00;
}
#a2:hover{
   background-color: rgb(223, 208, 208);
}
#a3:hover{
      background-color: rgb(223, 208, 208);
}
#a4:hover{
    background-color: #FFFF00;
}
/* box complite */

.point{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: transparent;
}
.point-1{
    width: 300px;
    height: 200px;
    margin-left: 450px;
    border: 1px solid black;
    background-color: aqua;
}
.point-1 img{
    width: 300px;
    height: 200px;
}
.tutorial{
    width: 100%;
    height: 500px;
    border:1px solid black;
    background-color: rgb(249, 243, 243);
    display: flex;
}
.tute-1{
    width: 30%;
    height: 500px;
   
}
.tute-2{
    margin-left: 30px;
    width: 70%;
    height: 500px;
    
}
.tute-a{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 40px;
    border-radius: 10px;
}
.tute-a img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.tute-2a{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
}
.tute-3{
    display: flex;
}
.tute-3 img{
    width: 80px;
    height: 80px;
    border-right: 2px solid rgb(217, 217, 110);
}
.images{
    width: 100%;
    height: 950px;
    border: 1px solid black ;
    text-align: center;
    background-color: #c7c7c7;
}
.row{
    width: auto;
    height: auto;
    margin-top: 40px;

}
.choises{
    width: 100%;
    height: 460px;
    border: 1px solid black;
    background-color: #c7c7c7;
    /* text-align: center; */
}
.choises p{
    font-size: 15px;
    margin-left:100px;
}
.form{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    margin-top: 15px;
    display: flex;
}
.form-1{
    width: 280px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    text-align: start;
    display: flex;
  
}
.form-A{
    width: 40px;
    height: 300px;
    border: 1px solid black;
}

.form-2{
    width: 550px;
    height: 600px;
    border: 1px solid black;
    
}
.form-3{
    position: absolute;
    width: 600px;
    height: 240px;
    border: 1px solid red;
    margin: 20px;
    margin-top: 340px;
}